@charset "utf-8";
/* CSS Document */

#main #banner
{
background-image: url(images/banner.jpg);
	background-repeat: no-repeat;
	height: 236px;
	width: 800px;
}

#main #menu 
{
background-color: #16703b;
height: 52px;
width: 800px;
}

#main #menu #menuLeft
{
height: 47px;
width: 40px;
}

#main #menu #menuright #txtTabla
{
border: 0px;
border-collapse:collapse;
}

#main #menu #menuright #txtTabla a
{

margin-left: 23px;
text-decoration: none;
font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: white;
}

#main #menu #menuright #inicio
{
background-image: url(images/inicio.gif);
	background-repeat: no-repeat;
	height: 47px;
	width: 108px;
    padding-top: 18px;
	
}

#main #menu #menuright #inicio:hover
{
background-image: url(images/inicio_1.gif);
font-weight: bold;
}

#main #menu #menuright #historia
{
background-image: url(images/historia.gif);
	background-repeat: no-repeat;
	height: 47px;
	width: 118px;
	padding-top: 18px;
}

#main #menu #menuright #historia:hover
{
background-image: url(images/historia_1.gif);
font-weight: bold;
}

#main #menu #menuright #niveles
{
background-image: url(images/niveles.gif);
	background-repeat: no-repeat;
	height: 47px;
	width: 110px;
	padding-top: 18px;
}

#main #menu #menuright #niveles:hover
{
background-image: url(images/niveles_1.gif);
font-weight: bold;
}

#main #menu #menuright #actividades
{
background-image: url(images/actividadess.gif);
	background-repeat: no-repeat;
	height: 47px;
	width: 126px;
	padding-top: 18px;
}

#main #menu #menuright #actividades:hover
{
background-image: url(images/actividadess_1.gif);
font-weight: bold;
}

#main #menu #menuright #contactos
{
background-image: url(images/contactos.gif);
	background-repeat: no-repeat;
	height: 47px;
	width: 126px;
    padding-top: 18px;
}

#main #menu #menuright #contactos:hover
{
background-image: url(images/contactos_1.gif);
font-weight: bold;
}

#main #menu #menuright #aulavirtual
{
background-image: url(images/aulavirtual.gif);
	background-repeat: no-repeat;
	height: 47px;
	width: 146px;
	padding-top: 18px;
}

#main #menu #menuright #aulavirtual:hover
{
background-image: url(images/aulavirtual_1.gif);
font-weight: bold;
}


	
#main #txtContenido
{
margin-left: 10px;
width: 800px;
background-color: #f5f3c4;
font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: black;
}

#main #footer {
	background-image: url(images/footer.jpg);
	background-repeat: no-repeat;
	height: 54px;
	width: 800px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: #f5f5bb;
	text-align: center;
	padding-top: 10px;
}
